

<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Hello
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">world !</li>
      <li class="content__container__list__item">bob !</li>
      <li class="content__container__list__item">users !</li>
      <li class="content__container__list__item">everybody !</li>
    </ul>
  </div>
</div>

<!-- <ul class="content__container__list">
  <li class="content__container__list__item">B.E/B.Tech  !</li>
  <li class="content__container__list__item">Diploma Projects !</li>
  <li class="content__container__list__item">M.E projects !</li>
  <li class="content__container__list__item">Products !</li>
  <li class="content__container__list__item">Training !</li>
  <li class="content__container__list__item">1 Place Solution</li>
</ul> -->
