.backgnd{
    background: black;    
}
ul{
   color: white;
   font-size: 16px;
   font-weight: bold;
}
li a {
    color: #8b8b8b;
    font-size: 12px;
    font-weight: normal
}
p{
    background: #444;
}

