<mat-toolbar color="primary" class="mat-elevation-z1">
  <button mat-icon-button id="menu" (click)="navService.openNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>JK Electro Corps </h1>


  <!-- <ul id="navlist">
    <li id="facebook"><a href="default.asp"></a></li>
    <li id="linkedin"><a href="css_intro.asp"></a></li>
    <li id="twitter"><a href="css_syntax.asp"></a></li>
    <li id="pinterest"><a href="css_syntax.asp"></a></li>
    <li id="tumblr"><a href="css_syntax.asp"></a></li>
    <li id="reddit"><a href="css_syntax.asp"></a></li>
  </ul> -->
</mat-toolbar>