<div class="banner">
 
  <img src="http://res.cloudinary.com/dvotky5lf/image/upload/v1532790910/contactus_vrbkm6.jpg" alt="contactus" />
  <h1></h1>
</div>

<div class='row parent'>

  <div class='contents col-md-4 col-sm-12'>
    <mat-icon style='font-size: 42px'>call</mat-icon>
    <div>
      <a  style="color: black" href="tel:+9170926 39169">+91-70926 39169 </a>/<a  style="color: black" href="tel:+917299951536">72999 51536</a>
    </div>
     </div> 
  <div class='contents col-md-4 col-sm-12'>
    <mat-icon style='font-size: 42px'>home</mat-icon>
    <div>
      <a style="color: black" href="https://www.google.com/maps/place/Ragavendra+Main+Road,+Lakshmipuram,+Chennai,+Tamil+Nadu+600099/@13.1286825,80.1963916,17z/data=!3m1!4b1!4m8!1m2!2m1!1sNo.5A,+Ragavendra+main+road,vanasakthi+nagar+extension,+kolathur,+chennai-600099!3m4!1s0x3a526487ef6afcb3:0xa9c1009287b98c83!8m2!3d13.1286825!4d80.1985803" target="_blank">
        No.5A, Ragavendra main road,vanasakthi nagar extension, kolathur, chennai-600099</a>
    </div>
  </div>
  <div class='contents col-md-4 col-sm-12'>
    <mat-icon style='font-size: 42px'>email</mat-icon>
    <div>  
    <a style="color: black"
    href="mailto:jkelectrocorps@gmail.com">jkelectrocorps@gmail.com</a>
  </div>
  </div>
</div>

<div class="container">
  Please email all your queries related to project to <a style="color: black;font-weight:bold;"
  href="mailto:jkelectrocorps@gmail.com">jkelectrocorps@gmail.com</a>

  <p style="margin-top: 10px">
    Kindly be patient while waiting for response.Phone General Inquiries: +91-70926 39169 /72999 51536(Mon- Sun : 10AM to 7PM)
  </p>
</div>