
<carousel>
  <slide>
    <img src="http://res.cloudinary.com/dvotky5lf/image/upload/v1532790880/climbing_uhbs9q.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Having a hard time in doing a project?</h3>
      <p>No worries we provide all type of solution for your project</p>
    </div>
  </slide>
  <slide>
    <img src="http://res.cloudinary.com/dvotky5lf/image/upload/v1532789515/electronics_tqtksb.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Electronics</h3>
      <p>Embedded Systems,Matlab,Power Electronics</p>
    </div>
  </slide>
  <slide>
    <img src="http://res.cloudinary.com/dvotky5lf/image/upload/v1532790913/elec_opzdpr.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Electrical</h3>
      <p>Matlab,
        power Electronics,etc..,
      </p>
    </div>
  </slide>
  <slide>
    <img src="http://res.cloudinary.com/dvotky5lf/image/upload/v1532790912/computer_u3no09.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      
      <h3>Java,DotNET,Web Programming,IOT,etc..,</h3>
    </div>
  </slide>

  </carousel>
