
<!-- <<app-carousel></app-carousel>> -->
<h1 [hidden]="true">
  Best IEEE project center in Chennai
</h1>
<img src='assets/images/BANNER.jpg' alt='jk-Electrocorps' />

<app-card></app-card>
<div class='clearfix'></div>
<div class="container-fluid" style="margin-top: 10px">
  <div class="jumbotron">
    <h1>Our Mission</h1>      
    <p>
      We Jk'ites work with students to achieve their creative solutions to Real-time problems and also to enhance their technical sound using brainstorming practices.
      </p>

      <h1>Our Vision</h1>      
    <p>
        Innovate with branding new ideas not with recursive abstracts </p>
  </div>    
</div>

<div class="profile">
  <carousel>
    <slide >
      <img src="https://res.cloudinary.com/dvotky5lf/image/upload/v1537815283/blac_onkqdg.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h4>Our Associates</h4>
        <p>Mr.V.Keerthi kassan</p>

        <h5>-Founder of JK Electrocorps</h5>
        <p>A very talented charismatic founder and engineering graduate who has a very good expertise in the 
          area of electronics
        </p>

        
      </div>
    </slide>

    <slide >
      <img src="https://res.cloudinary.com/dvotky5lf/image/upload/v1537815283/blac_onkqdg.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h4>Our Associates</h4>
        <p>Mr.S.Murali</p>

        <h5>Co-Founder of JK Electrocorps</h5>
        <p>An engineering made leader and who has a very good expertise in the 
          area of software development in the current market technologies
        </p>

        
      </div>
    </slide>

    <slide >
      <img src="https://res.cloudinary.com/dvotky5lf/image/upload/v1537815283/blac_onkqdg.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h4>Our Associates</h4>
        <p>Mr.S.G.Jothi Sai</p>

        <h5>-Director of JK Electrocorps</h5>
        <p>A very good manager who has done good contribution to the foundation and has very good expertise 
          in marketing,seo etc..,
        </p>

        
      </div>
    </slide>

    <slide >
      <img src="https://res.cloudinary.com/dvotky5lf/image/upload/v1537815283/blac_onkqdg.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h4>Our Associates</h4>
        <p>Mr.Preeth Kumar</p>

        <h5>-Preisident of JK Electrocorps</h5>
        <p>A very talented personality and engineering graduate who has a very good expertise in the 
          area of software profession
        </p>

        
      </div>
    </slide>

    <slide >
      <img src="https://res.cloudinary.com/dvotky5lf/image/upload/v1537815283/blac_onkqdg.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h4>Our Associates</h4>
        <p>Mr.Alex</p>

        <h5>-Sr. Developer of JK Electrocorps</h5>
        <p>Completed M.E in Power Electronics and has  very good experience of 10 year's in Power Electronics area
        </p>

        
      </div>
    </slide>
    
  
    </carousel>
</div>


