
<app-carousel></app-carousel>

<app-card></app-card>
<div class='clearfix'></div>
<div class="container-fluid" style="margin-top: 10px">
  <div class="jumbotron">
    <h1>Our Mission</h1>      
    <p>
      We Jk'ites work with students to achieve their creative solutions to Real-time problems and also to enhance their technical sound using brainstorming practices.
      </p>

      <h1>Our Vision</h1>      
    <p>
        Innovate with branding new ideas not with recursive abstracts </p>
  </div>    
</div>

