mat-card-content{
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.jumbotron{
    background-color: white;
    border: 1.5px solid #0b1650;
    border-radius: 10px;
    box-shadow: 9px 6px 3px 2px #0b1650;
}

// h1::before {
//     content: '|';
// }
.profile img{
    height: 280px;
}