<!-- <app-menu></app-menu>
<router-outlet></router-outlet> -->
 
<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <app-top-nav fxHide.xs></app-top-nav>
  <mat-toolbar fxHide.xs class="menu-bar mat-elevation-z1">
      <span *ngFor="let item of navItems">
        <!-- Handle branch node buttons here -->
        <span *ngIf="item.children && item.children.length > 0">
          <button mat-button [matMenuTriggerFor]="menu.childMenu"
          [disabled]="item.disabled">
            {{item.displayName}}
          </button>
          <app-menu-toolbar #menu [items]="item.children"></app-menu-toolbar>
        </span>
        <!-- Leaf node buttons here -->
        <span *ngIf="!item.children || item.children.length === 0">
          <button mat-button color="primary" [routerLink]="item.route">
            {{item.displayName}}
          </button> 
        </span>
      </span>
    </mat-toolbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <div class="footer">
    <button color='warn' (click)="openDialog()" mat-raised-button>Quick Enquiry</button>
  </div>
</mat-sidenav-container>

