<!-- <app-menu></app-menu>
<router-outlet></router-outlet> -->
 
<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <app-top-nav fxHide.xs></app-top-nav>
  <mat-toolbar fxHide.xs class="menu-bar mat-elevation-z1">
      <span *ngFor="let item of navItems">
        <!-- Handle branch node buttons here -->
        <span *ngIf="item.children && item.children.length > 0">
          <button mat-button [matMenuTriggerFor]="menu.childMenu"
          [disabled]="item.disabled">
            {{item.displayName}}
          </button>
          <app-menu-toolbar #menu [items]="item.children"></app-menu-toolbar>
        </span>
        <!-- Leaf node buttons here -->
        <span *ngIf="!item.children || item.children.length === 0">
          <button mat-button color="primary" [routerLink]="item.route">
            {{item.displayName}}
          </button> 
        </span>
      </span>
    </mat-toolbar>
    <div class='content' #scrollContainer>
      <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
    </div> 
  
  <div [hidden]='true'>
    <a href='https://www.facebook.com/JkIEEEProjects/'>Facebook</a>
    <a href='https://www.linkedin.com/company/jk-electrocorps/'>linkedin</a>
    <a href='https://jkelectrocorps.blogspot.com/'>Blogspot</a>
    <a href='https://in.pinterest.com/jkelectrocorps/'>pinterest</a>
    <a href='https://twitter.com/JKelectrcorps'>twitter</a>
    <a href='https://jkelectrocorps.business.site/'>business-site</a>
    <a href='https://jkelectrocorps.tumblr.com/'>Tumblr</a>
  </div>
  <app-footer></app-footer>
  <div class="footer">
    <button color='warn' (click)="openDialog()" mat-raised-button>Quick Enquiry</button>
  </div>
</mat-sidenav-container>

